.tile {
  &-is-flexible {
    flex-flow: wrap row;
    justify-content: space-between;
  }

  .is-flex {
    &-full {
      flex-basis: 100%;
    }

    &-four-fifths {
      flex-basis: calc(80% - 1.5rem);
    }

    &-three-quarters {
      flex-basis: calc(75% - 1.5rem);
    }

    &-two-thirds {
      flex-basis: calc(((100% / 3) * 2) - 1.5rem);
    }

    &-three-fifths {
      flex-basis: calc(60% - 1.5rem);
    }

    &-half {
      flex-basis: calc(50% - 1.5rem);
    }

    &-two-fifths {
      flex-basis: calc(40% - 1.5rem);
    }

    &-one-third {
      flex-basis: calc((100% / 3) - 1.5rem);
    }

    &-one-quarter {
      flex-basis: calc(25% - 1.5rem);
    }

    &-one-fifth {
      flex-basis: calc(20% - 1.5rem);
    }
  }
}
