.block {
  $color: darken($secondary, 18%);
  color: darken($color, 10%);
  padding: 1rem;
  border-radius: $radius;
  background-color: #fff;
}

%has-default-padding {
  padding: 0 3rem;
}

%backendbr-styled-title {
  font-weight: bold;
  color: $text;
}
