.newsletter {
  @extend %home-bg;
  padding: 3rem;
  align-items: center;
  text-align: center;

  article > .field.is-grouped {
    flex-flow: column;
    padding-top: 2rem;

    .control,
    .select, 
    .select > select, 
    .control > a {
      width: 100%;
    }

    .select {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }

    @media screen and (min-width: $tablet) {
      padding-top: 0;
      flex-flow: initial;

      .control,
      .select, 
      .control > a {
        width: initial;
      }

      .select {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    text-align: left;
    padding: 5rem;
  }

  p, h4 { color: #fff; }

  h4 {
    padding-bottom: 0.75rem;
  }

  a.button {
    color: #5b73ff;
    background-color: #fcde00;
  }

  div.select { margin-right: 1.5rem; }
}

.footer {
  .level-left {
    flex-flow: column;
    align-items: flex-start;
  }

  .level-right {
    flex-flow: column;
    align-items: flex-end;

    .footer-links {
      a {
        background-color: #fafafa;
      }
    }

    .footer-buttons {
    }
  }
}
