.newsletter {
  @extend %home-bg;
  padding: 5rem;
  align-items: center;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  p, h4 { color: #fff; }

  h4 {
    padding-bottom: 0.75rem;
  }

  a.button {
    color: #5b73ff;
    background-color: #fcde00;
  }

  div.select { margin-right: 1.5rem; }
}

.footer {
  .level-left {
    flex-flow: column;
    align-items: flex-start;
  }

  .level-right {
    flex-flow: column;
    align-items: flex-end;

    .footer-links {
      a {
        background-color: #fafafa;
      }
    }

    .footer-buttons {
    }
  }
}
