.home-header {
  background-color: $bg;
  padding-bottom: 3rem;

  p { margin-bottom: 1rem; }

  .button {
    margin-right: 1rem;

    i { padding-right: 0.5rem; }
  }
}

.home-projects {
  $color: darken($secondary, 18%);
  overflow-x: auto;

  &::-webkit-scrollbar { 
    display: none; 
  }

  padding-left: 5rem;
  transform: translateY(-3rem);

  > article {
    border: 2px solid $color;
    background-color: $secondary;
    color: darken($color, 10%);
    margin-right: 2rem;
    padding: 1rem;
  }

  &--p {
    padding: 0.75rem 0;
  }
}
