%home-bg {
  $bg-start-color: rgba(80,52,155,1);
  $bg-middle-color: rgba(88,100,225,1);
  $bg-end-color: rgba(91,115,249,1);
  background: $bg-start-color;
  background: -moz-linear-gradient(left, $bg-start-color 0%, $bg-middle-color 59%, $bg-end-color 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $bg-start-color), color-stop(59%, $bg-middle-color), color-stop(100%, $bg-end-color));
  background: -webkit-linear-gradient(left, $bg-start-color 0%, $bg-middle-color 59%, $bg-end-color 100%);
  background: -o-linear-gradient(left, $bg-start-color 0%, $bg-middle-color 59%, $bg-end-color 100%);
  background: -ms-linear-gradient(left, $bg-start-color 0%, $bg-middle-color 59%, $bg-end-color 100%);
  background: linear-gradient(to right, $bg-start-color 0%, $bg-middle-color 59%, $bg-end-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50349b', endColorstr='#5b73f9', GradientType=1 );
}

%home-bg-clip {
  $right-bottom: 100% 25%;
  $left-bottom: 0% 60%;
  -webkit-clip-path: polygon(0 0, 100% 0, $right-bottom, $left-bottom);
  clip-path: polygon(0 0, 100% 0, $right-bottom, $left-bottom);
}

.home-header {
  @extend %has-default-padding;
  @extend %home-bg;
  background-color: transparent;
  padding-top: 6rem;
  padding-bottom: 4rem;
  align-items: center;
  justify-content: center;

  &--logo {
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: right;
    }
  }

  &--intro {
    flex-flow: column;

    p, h3, h3 > strong { color: #fff; }

    p { margin-bottom: 1rem; }

    .social-buttons a {
      color: $primary;
    }

    @media screen and (min-width: $tablet) {
      padding-left: 2rem;
    }
  }
}

.home-projects {
  @extend %has-default-padding;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;

    @extend %home-bg;
    @extend %home-bg-clip;
  }

  > article.tile {
    margin-bottom: 2rem !important;
    box-shadow: 0 9px 11px rgba(#000,0.05), 0 9px 10px rgba(#000,0.075);

    @media screen and (min-width: $tablet) {
      margin-bottom: 0 !important;
    }
  }

  &--p {
    padding: 0.75rem 0;
  }

  > div.tile {
    justify-content: center;
    padding-top: 1rem;
    text-align: center;
    
    .button {
      border: none;
      color: $primary;
      @extend .is-uppercase;
      @extend .has-text-weight-bold;
    }

    @media screen and (min-width: $tablet) {
      justify-content: flex-end;
    }
  }
}

.events {
  @extend %has-default-padding;

  p {
    padding: 0.75rem 0;
  }

  .tile.block {
    margin-bottom: 2rem !important;
    padding: 2rem;

    p {
      color: #333;

      i {
        color: $primary;
        font-size: 1.2rem;
        padding-right: 0.5rem;
      }
    }

    .button {
      background-color: $primary;
      color: #fff;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0 !important;
    }
  }

  ul {
    padding-top: 0.75rem;

    li.flag {
      border: 2px solid rgba($primary, 0.3);
      display: inline-block;
      padding: 0.25rem 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.75rem;
    }
  }
}

.posts {
  @extend %has-default-padding;

  &--title {
    text-transform: uppercase;
    padding-bottom: 0.75rem;
  }

  &--categories {
    padding-top: 0.5rem;

    li {
      border-radius: 0.25rem;
      color: #fff;
      display: inline-block;
      background-color: $primary;
      padding: 0.25rem 0.5rem;
      margin-right: 0.25rem;
      margin-bottom: 0.5rem;
    }
  }
}

.partners {
  @extend %has-default-padding;

  .tile.is-flex-one-quarter {
    flex-grow: 0;
    flex-shrink: 0;

    a {
      width: 100%;
      height: auto;
      display: block;
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
