<section class="article--header tile tile-is-flexible is-ancestor" style="background-image: url();">
  <article class="article--header-title is-child tile is-flex-full">
    <h2 class="is-size-2">{{page.title}}</h2>
  </article>
</section>

<section class="article--content tile tile-is-flexible is-ancestor">
  <article class="
    is-child tile 
    no-grow no-shrink
    is-flex-full
    is-flex-half-mobile
    is-flex-one-third-desktop
  ">
    {{{content}}}
  </article>
</section>

<section class="article--share tile tile-is-flexible is-ancestor">
  <article class="
    is-child tile 
    no-grow no-shrink
    is-flex-full
    is-flex-half-mobile
    is-flex-one-third-desktop
  ">
  </article>
</section>

<section class="article--comments tile tile-is-flexible is-ancestor">
  <article class="
    is-child tile 
    no-grow no-shrink
    is-flex-full
    is-flex-half-mobile
    is-flex-one-third-desktop
  ">
  </article>
</section>

<section class="article--related tile tile-is-flexible is-ancestor">
  <article class="
    is-child tile 
    no-grow no-shrink
    is-flex-full
    is-flex-half-mobile
    is-flex-one-third-desktop
  ">
  </article>
</section>
