<section class="jobs--header tile is-ancestor tile-is-flexible">
  <article class="tile is-child is-flex-two-thirds no-grow no-shrink">
    <h4 class="is-size-4 has-text-weight-bold">{{{__ 'jobs.header.title'}}}</h4>
  </article>
</section>

<section class="">
  
</section>
