<article class="social-buttons">
  <a class="button" href="">
    <i class="fab fa-twitter"></i>
    Twitter
  </a>

  <a class="button" href="">
    <i class="fab fa-slack"></i>
    Slack
  </a>

  <a class="button" href="">
    <i class="fab fa-github"></i>
    Github
  </a>

  <a class="button" href="">
    <i class="fab fa-meetup"></i>
    Meetup
  </a>
</article>
