<article class="social-buttons">
  <a target="_blank" class="button" href="https://twitter.com/{{config.twitter}}">
    <i target="_blank" class="fab fa-twitter"></i>
    Twitter
  </a>

  <a target="_blank" class="button" href="{{config.slack}}">
    <i target="_blank" class="fab fa-slack"></i>
    Slack
  </a>

  <a target="_blank" class="button" href="https://github.com/{{config.github}}">
    <i target="_blank" class="fab fa-github"></i>
    Github
  </a>

  <a target="_blank" class="button" href="https://meetup.com/pt-BR/{{config.meetup}}">
    <i target="_blank" class="fab fa-meetup"></i>
    Meetup
  </a>
</article>
