.repository {
    padding: 20px;
    margin: 0;
    list-style: none;
    color: #ffffff;
    height: 100%;
    background: #67b26f;
    background: linear-gradient(to bottom, #4ca2cd, #67b26f);
    transition: all .25s linear;
}

.repository:hover {
    box-shadow: 0 14px 28px rgba(76,162,205,.25), 0 10px 10px rgba(103,178,110,.22);
}

.repository__link,
.repository__link:visited,
.repository__link:active,
.repository__link:link {
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
}

.repository__link:hover {
    color: #ffffff;
    text-decoration: none;
}

.repository__title {
    font-size: 28px;
    margin: 0;
}

.repository__icons {
    background: rgba(255,255,255,.3);
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    color: #ffffff;
    height: 33px;
    align-items: center;
}

.repository__icons__icon {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.repository__icons__icon__image {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
