.repository {
    padding: 6.25vw;
    margin: 0;
    list-style: none;
    color: #ffffff;
    height: 100%;
    background: #67b26f;
    background: linear-gradient(to bottom, #4ca2cd, #67b26f);
    transition: all .25s linear;
}

.repository:hover {
    box-shadow: 0 14px 28px rgba(76,162,205,.25), 0 10px 10px rgba(103,178,110,.22);
}

.repository__link,
.repository__link:visited,
.repository__link:active,
.repository__link:link {
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
}

.repository__link:hover {
    color: #ffffff;
    text-decoration: none;
}

.repository__title {
    font-size: 8.75vw;
    margin: 0;
}

.repository__description {
    font-size: 4.38vw;
}

.repository__icons {
    background: rgba(255,255,255,.3);
    padding: 1.56vw 3.13vw;
    border-radius: 6.25vw;
    display: flex;
    color: #ffffff;
    height: 10.31vw;
    align-items: center;
}

.repository__city {
  font-size: 22px;
  margin: 0;
}

.repository__meetup {
  border-top: 5px solid #f13a59;
}

.repository__meetup a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.repository__icons__icon {
    margin-right: 6.25vw;
    display: flex;
    align-items: center;
}

.repository__icons__icon__image {
    width: 5.00vw;
    height: 5.00vw;
    margin-right: 1.56vw;
}


@media (min-width: 750px) {
    .repository {
        padding: 20px;
    }

    .repository__title {
        font-size: 28px;
    }

    .repository__description {
        font-size: 14px;
    }

    .repository__icons {
        padding: 5px 10px;
        border-radius: 20px;
        height: 33px;
    }

    .repository__icons__icon {
        margin-right: 20px;
    }

    .repository__icons__icon__image {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
}
