.social-buttons {
  &--line .button {
    color: #fff;
  }

  &:not(.social-buttons--line) .button {
    border-color: $primary;

    &:hover { border-color: $primary !important; }
  }

  .button {
    background-color: transparent;
    margin-right: 1rem;
    margin-bottom: 1rem;

    i { padding-right: 0.5rem; }
  }
}
