.header {
    margin: 15.63vw 0 9.38vw;
    background-size: 100%;
}

.header__branding {
    display: flex;
}

.header__logo,
.header__logo:link,
.header__logo:visited,
.header__logo:active {
    background-color: #ffffff;
    color: #000000;
    padding: 5.63vw;
    font-size: 5.63vw;
    display: inline-block;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    width: 35.63vw;
    margin-right: 6.25vw;
}

.header__description {
    letter-spacing: 1.56vw;
    text-transform: uppercase;
    font: 3.75vw sans-serif;
    color: #ffffff;
    margin-top: 5.63vw;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15.63vw 0;
}

@media (min-width: 750px) {
    .header {
        margin: 50px 0 30px;
        min-height: 120px;
        background-size: 100%;
    }

    .header__branding {
        display: block;
    }

    .header__logo,
    .header__logo:link,
    .header__logo:visited,
    .header__logo:active {
        width: auto;
        padding: 18px;
        font-size: 25px;
        margin-right: 20px;
    }

    .header__description {
        letter-spacing: 5px;
        font-size: 16px;
        margin-top: 20px;
    }

    .header__button {
        justify-content: flex-end;
        margin: auto;
    }
}
