.about--header {
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: darken($primary, 30%);
  text-align: center;
  padding: 9rem 3rem 6rem;
  color: #fff;

  strong { color: inherit; }

  p { padding-top: 1rem; }
}

.about--believe {
  justify-content: space-between;
  @extend %has-default-padding;
  @extend %inter-section-margin;
  padding-top: 3rem;
  padding-bottom: 3rem;

  > .is-flex-full {
    padding-bottom: 2rem;
  }

  .is-flex-one-third {
    @extend %basic-shadow;
    padding: 1rem;

    h5 {
      font-weight: bold;
      color: $primary;
      padding-bottom: 1rem;
    }

    p { font-size: 0.90rem; }
  }
}
