%basic-shadow {
  box-shadow: 0 9px 11px rgba(#000,0.025), 0 9px 10px rgba(#000,0.05);
}

%inter-section-margin {
  margin-top: 2rem;
}

%has-default-padding {
  padding: 0 3rem;
}

%backendbr-styled-title {
  font-weight: bold;
  color: $text;
}

%color-inherit {
  color: inherit !important;
}

.block {
  $color: darken($secondary, 18%);
  color: darken($color, 10%);
  padding: 1rem;
  border-radius: $radius;
  background-color: #fff;
  @extend %basic-shadow;
}

.svgicon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  overflow: hidden;
}
