.be--navbar {
  @extend %has-default-padding;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 3px solid #868686;

  .navbar-item {
    color: #222;

    &.is-uppercase {
      font-size: 0.85rem;
    }
  }

  &-item {
    &--logo {
      color: $primary;
      font-size: 5rem;

      svg { height: 0.5em; }
    }

    &--join {
      color: $primary !important;
      border-radius: 3px;
      padding: 0.4rem 1.75rem 0.4rem calc(1.75rem + 0.75rem);
      margin-left: 4rem !important;

      span { padding-right: 1.25rem; }
    }
  }

  .navbar-end { 
    align-items: center; 

    .navbar-item {
      margin-left: 1.5rem;
    }
  }
}
