%dark-navbar {
  .navbar--breadcrumb *,
  .navbar-item:not(.be--navbar-item--logo):not(.be--navbar-item--join) {
    color: $text !important;
  }

  .navbar-item:not(.be--navbar-item--logo):not(.be--navbar-item--join):hover {
    background-color: $primary !important;
    color: #fff !important;
  }

  .navbar--burger { color: $primary !important; }

  .be {
    &--navbar-item--logo {
      color: $primary !important;

      &:hover {
        color: $primary !important;
      }
    }

    &--navbar-item--join {
      background-color: $primary !important;
      color: #fff !important;
    }
  }
}

@mixin dark-navbar($selector) {
  .#{$selector} {
    @extend %dark-navbar;
  } 
}

.be--navbar {
  @extend %has-default-padding;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0.7rem;
  left: 0;
  padding: 0 2rem;

  .navbar-burger { color: #fff; }

  .navbar-item {
    color: #fff;

    &.is-uppercase {
      font-size: 0.85rem;
    }

    &:hover { color: $primary !important; }
  }

  .navbar--breadcrumb {
    display: none;
    align-items: center;
    padding-left: 3rem;
    
    * {
      color: #fff;
    }
    
    strong {
      text-transform: uppercase;
    }

    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &-item {
    &--logo {
      color: #fff;
      font-size: 5rem;

      svg { height: 0.5em; }

      &:hover { color: #fff !important; }
    }

    &--join {
      background-color: #fff;
      color: $primary !important;
      border-radius: 3px;
      padding: 0.4rem 1.75rem 0.4rem;

      span {
        display: inline-block;
        vertical-align: middle;

      }

      @media screen and (min-width: $tablet) {
        margin-left: 4rem !important;

        span:last-child { padding-left: 0.5rem; }
      }
    }
  }

  .navbar-end { 
    align-items: center; 

    .navbar-item {
      color: #000;
      text-align: center;

      &:not(.be--navbar-item--join) {
        border-bottom: 1px solid rgba(#000, 0.05);
      }

      @media screen and (min-width: $tablet) {
        margin-left: 1.5rem;
        border-bottom: none !important;
        color: #fff;
      }
    }
  }

  .navbar-menu {
    padding: 0;
  }

  @media screen and (min-width: $tablet) {
    .navbar-menu {
      padding: 0.5rem 0;
    }
  }
}
