.be--navbar {
  @extend %has-default-padding;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  top: 0;
  left: 0;

  .navbar-item {
    color: $text;

    &.is-uppercase {
      font-size: 0.85rem;
    }
  }

  .navbar--breadcrumb {
    display: none;
    align-items: center;
    padding-left: 3rem;
    
    strong {
      color: $primary;
      text-transform: uppercase;
    }

    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &-home {
    left: 0;
    position: absolute;
    top: 0.7rem;

    .navbar-item { color: #fff; }
  }

  &-item {
    &--logo {
      color: $primary;
      font-size: 5rem;

      svg { height: 0.5em; }
    }

    &--join {
      color: $primary !important;
      border-radius: 3px;
      padding: 0.4rem 1.75rem 0.4rem calc(1.75rem + 0.75rem);
      margin-left: 4rem !important;

      span { padding-right: 1.25rem; }
    }
  }

  .navbar-end { 
    align-items: center; 

    .navbar-item {
      margin-left: 1.5rem;
    }
  }
}
