.member {
    list-style: none;
    margin: 10px;
    height: 27vw;
    width: 27vw;
}

.member__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27vw;
    width: 27vw;
    text-decoration: none;
    overflow: hidden;
}

.member__link:hover {
    text-decoration: none;
}

.member__avatar {
    height: 27vw;
    width: 27vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.member__login {
    z-index: 1;
    background: rgba(255, 255, 255, .8);
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #000000;
    font-weight: 600;
    overflow: hidden;
    text-decoration: none;
}

@media (min-width: 750px) {
    .member,
    .member__link,
    .member__avatar {
        height: 145px;
        width: 145px;
    }
}
